@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.well-pi{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif


}
.well-pin{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tours-local{
    color: whitesmoke;
}